In [1]:
import numpy as np
import pandas as pd

In [2]:
data=pd.read_csv("Data_MFR_310.csv")

In [3]:
data.head()

,Unnamed: 0,513FC31103.pv,513HC31114-5.mv,513PC31201.pv,513LC31202.pv,513FC31409.pv,513FC31114-5.pv,513TC31220.pv,MFR
0,04-05-2018 19:45,24856.584,0.153,30.414835,79.657906,50850.578,0.163994,80.399605,3.4
1,04-05-2018 21:45,25537.250,0.153,30.527121,78.532608,42229.813,0.129739,78.861328,3.2
2,04-05-2018 23:45,25689.266,0.153,30.356180,78.842636,45335.852,0.150003,78.818115,3.2
3,04-06-2018 01:45,25098.754,0.153,30.894308,79.173500,43077.016,0.151543,79.022720,3.1
4,04-06-2018 03:45,24853.941,0.150,30.680647,78.677299,40404.387,0.122582,79.038483,3.3

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2564 entries, 0 to 2563
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       2564 non-null   object
 1   513FC31103.pv    2486 non-null   float64
 2   513HC31114-5.mv  2560 non-null   float64
 3   513PC31201.pv    2484 non-null   float64
 4   513LC31202.pv    2484 non-null   float64
 5   513FC31409.pv    2484 non-null   float64
 6   513FC31114-5.pv  2486 non-null   float64
 7   513TC31220.pv    2484 non-null   float64
 8   MFR              2564 non-null   float64
dtypes: float64(8), object(1)
memory usage: 180.4+ KB

In [5]:
data.rename(columns={
'513FC31103.pv':'Propylene flow',
'513HC31114-5.mv':'Hydrogen ratio',
'513PC31201.pv':'Pressure controller',
'513LC31202.pv':'Level controller',
'513FC31409.pv':'Liquefied Recycle gas to R-310 dome top',
'513FC31114-5.pv':'Hydrogen Flow',
'513TC31220.pv':'Temperature controller'
  },inplace=True)

In [6]:
data.head()

,Unnamed: 0,Propylene flow,Hydrogen ratio,Pressure controller,Level controller,Liquefied Recycle gas to R-310 dome top,Hydrogen Flow,Temperature controller,MFR
0,04-05-2018 19:45,24856.584,0.153,30.414835,79.657906,50850.578,0.163994,80.399605,3.4
1,04-05-2018 21:45,25537.250,0.153,30.527121,78.532608,42229.813,0.129739,78.861328,3.2
2,04-05-2018 23:45,25689.266,0.153,30.356180,78.842636,45335.852,0.150003,78.818115,3.2
3,04-06-2018 01:45,25098.754,0.153,30.894308,79.173500,43077.016,0.151543,79.022720,3.1
4,04-06-2018 03:45,24853.941,0.150,30.680647,78.677299,40404.387,0.122582,79.038483,3.3

In [7]:
data=data.drop('Unnamed: 0',axis=1)

In [8]:
pd.isnull(data).sum()

Propylene flow                             78
Hydrogen ratio                              4
Pressure controller                        80
Level controller                           80
Liquefied Recycle gas to R-310 dome top    80
Hydrogen Flow                              78
Temperature controller                     80
MFR                                         0
dtype: int64

In [9]:
from sklearn.impute import SimpleImputer
mean_imputer = SimpleImputer(missing_values=np.nan, strategy='mean')

In [10]:
data['Propylene flow'] = mean_imputer.fit_transform(data['Propylene flow'].values.reshape(-1,1))
data['Hydrogen ratio'] = mean_imputer.fit_transform(data['Hydrogen ratio'].values.reshape(-1,1))
data['Pressure controller'] = mean_imputer.fit_transform(data['Pressure controller'].values.reshape(-1,1))
data['Level controller'] = mean_imputer.fit_transform(data['Level controller'].values.reshape(-1,1))
data['Liquefied Recycle gas to R-310 dome top'] = mean_imputer.fit_transform(data['Liquefied Recycle gas to R-310 dome top'].values.reshape(-1,1))
data['Hydrogen Flow'] = mean_imputer.fit_transform(data['Hydrogen Flow'].values.reshape(-1,1))
data['Temperature controller'] = mean_imputer.fit_transform(data['Temperature controller'].values.reshape(-1,1))

In [11]:
X = data.iloc[:, :-1]
y = data.iloc[:, -1]

In [12]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2,random_state=3)

In [13]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaler.fit(X_train)
X_train_t = scaler.transform(X_train)
X_test_t = scaler.transform(X_test)

In [14]:
from sklearn.tree import DecisionTreeRegressor
regressor = DecisionTreeRegressor(random_state = 0)
regressor.fit(X_train_t, y_train)

DecisionTreeRegressor(ccp_alpha=0.0, criterion='mse', max_depth=None,
                      max_features=None, max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, presort='deprecated',
                      random_state=0, splitter='best')

In [15]:
y_pred=regressor.predict(X_test_t)

In [16]:
y_pred

array([ 4.7       ,  4.4       , 16.8       , 14.8       , 17.2       ,
        3.8       ,  3.2       ,  4.2       ,  3.7       ,  3.5       ,
       12.4       , 11.5       ,  3.5       ,  3.9       , 13.19482759,
        3.8       , 15.        , 11.4       ,  3.4       ,  3.5       ,
       14.        ,  3.6       , 12.8       ,  3.8       ,  3.8       ,
       11.1       , 13.8       , 14.        , 13.5       , 14.4       ,
       13.19482759,  4.6       , 12.2       , 12.4       , 10.9       ,
        4.4       , 12.5       , 10.7       ,  3.7       , 12.6       ,
       13.8       ,  3.6       , 12.7       , 12.9       , 17.4       ,
       12.5       , 13.2       , 10.        , 14.2       , 15.3       ,
        3.5       ,  4.        , 10.7       ,  3.6       ,  4.        ,
       12.7       ,  3.9       ,  3.6       , 13.3       ,  4.2       ,
       13.6       ,  4.1       , 11.5       ,  3.2       ,  3.5       ,
       13.5       , 13.5       , 12.2       , 14.5       ,  4.        ,
       17.8       , 11.6       ,  3.4       ,  3.6       ,  4.        ,
       12.7       ,  3.4       ,  3.5       , 13.19482759,  5.4       ,
        3.6       ,  3.3       ,  3.5       , 16.3       ,  3.6       ,
        3.6       ,  3.2       , 12.9       , 13.19482759,  4.1       ,
       11.8       , 13.6       ,  3.4       , 11.4       ,  3.3       ,
       13.2       , 11.8       ,  4.4       ,  3.9       ,  4.        ,
        3.5       , 14.1       ,  3.6       ,  4.1       ,  4.        ,
       16.1       ,  9.6       , 18.1       ,  3.6       , 11.4       ,
        3.8       ,  4.1       , 13.1       , 12.7       , 14.5       ,
        5.        , 10.5       ,  4.6       ,  3.8       ,  3.6       ,
       19.4       ,  3.5       , 15.8       , 15.2       , 22.7       ,
        4.6       ,  3.8       , 16.8       ,  3.9       ,  3.8       ,
       12.3       , 19.9       ,  9.9       , 11.5       , 12.5       ,
        3.9       , 13.6       ,  3.7       , 14.1       , 15.8       ,
        3.        ,  3.9       , 13.19482759, 13.6       ,  9.2       ,
       11.8       , 15.        ,  4.        ,  4.2       , 11.4       ,
       11.2       ,  4.        ,  3.8       ,  4.        , 12.7       ,
        4.1       , 12.5       , 14.3       ,  3.8       , 11.        ,
       13.8       , 14.9       ,  3.7       ,  3.7       ,  3.7       ,
        4.5       ,  5.9       , 14.        ,  3.5       ,  3.7       ,
        3.6       , 10.1       ,  3.6       ,  3.4       ,  3.4       ,
        3.8       , 23.3       ,  3.3       ,  3.4       ,  3.7       ,
       13.4       ,  2.9       ,  4.        ,  3.8       , 10.7       ,
       14.5       ,  3.8       ,  3.6       , 22.7       ,  3.7       ,
       12.6       ,  3.6       ,  4.5       , 12.2       , 13.19482759,
       13.6       ,  3.6       ,  4.5       , 10.6       , 13.19482759,
       12.9       ,  3.7       ,  4.1       ,  3.8       , 13.19482759,
       15.8       ,  3.6       , 12.1       ,  3.9       ,  3.6       ,
       14.4       , 22.7       , 13.19482759, 14.3       , 16.        ,
       12.7       , 14.3       ,  3.2       , 13.7       ,  3.7       ,
        4.1       ,  4.1       ,  1.5       , 10.        , 11.4       ,
        3.6       ,  3.4       , 13.7       ,  3.5       ,  5.3       ,
       12.6       ,  5.7       ,  5.3       ,  3.6       , 15.9       ,
       10.4       ,  3.9       ,  4.6       , 13.        , 12.5       ,
       12.9       , 15.4       ,  3.8       , 13.19482759, 14.5       ,
       13.5       , 23.3       ,  3.8       , 10.7       ,  3.8       ,
       16.3       , 13.3       ,  3.7       , 10.9       , 13.19482759,
        3.5       , 12.6       , 14.6       ,  3.6       ,  3.9       ,
        3.5       ,  4.2       ,  4.        , 12.9       , 13.9       ,
        3.6       , 12.4       , 17.8       , 14.        , 12.9       ,
       17.4       ,  3.5       , 23.3       , 15.7       , 12.9       ,
        3.9       , 12.6       , 19.4       ,  4.1       , 13.4       ,
        3.9       ,  4.3       , 13.8       ,  4.3       , 14.2       ,
       12.8       ,  4.3       ,  3.6       ,  1.5       ,  3.9       ,
       35.        , 13.4       ,  3.2       ,  4.2       ,  4.3       ,
       15.4       , 11.8       , 13.2       ,  3.8       , 12.8       ,
        4.2       , 13.9       ,  4.1       ,  3.5       , 15.8       ,
       13.6       , 13.3       ,  4.2       ,  3.9       ,  3.9       ,
       12.9       , 14.8       , 12.9       ,  3.9       , 13.4       ,
        4.        ,  4.3       ,  9.2       ,  3.6       ,  3.8       ,
       23.        , 14.8       ,  3.9       , 16.8       ,  4.6       ,
        5.3       , 14.2       ,  3.4       , 14.        ,  3.3       ,
       13.        ,  1.7       , 13.5       , 10.1       ,  6.36666667,
        3.9       , 11.6       , 13.7       ,  3.6       ,  3.6       ,
        5.3       , 13.        , 13.7       , 10.3       ,  3.2       ,
        3.7       , 12.5       ,  3.7       ,  3.4       , 13.6       ,
        3.9       , 10.9       , 15.3       ,  3.4       ,  3.5       ,
        3.9       , 15.7       ,  3.4       , 15.2       ,  3.6       ,
        3.7       , 38.        , 13.19482759, 12.        , 13.19482759,
       12.        ,  4.3       ,  3.7       , 14.        ,  4.2       ,
       13.8       , 15.8       , 11.3       ,  3.        , 13.3       ,
       13.5       ,  4.3       ,  3.6       ,  4.3       , 12.7       ,
        3.9       , 14.4       , 12.9       ,  3.8       ,  3.9       ,
       12.9       , 14.        ,  4.6       ,  3.        , 13.3       ,
       11.4       , 13.5       , 13.19482759,  1.7       ,  4.1       ,
        3.2       , 11.7       ,  3.5       ,  3.8       , 20.3       ,
        3.8       ,  3.6       , 17.1       ,  4.3       ,  3.7       ,
        3.9       , 10.7       , 13.5       , 13.        , 12.1       ,
        3.2       ,  3.5       , 11.6       ,  3.5       , 15.3       ,
       13.3       , 12.6       ,  4.5       , 13.3       , 10.        ,
       19.8       ,  1.5       ,  3.3       , 12.7       , 14.5       ,
        3.1       , 11.3       ,  3.9       ,  4.1       ,  4.3       ,
        3.5       , 10.        ,  3.1       , 12.1       , 12.9       ,
       16.3       ,  3.1       ,  4.3       , 14.5       , 12.2       ,
       10.7       ,  3.9       ,  4.1       ,  9.8       , 13.1       ,
        3.9       ,  4.1       ,  3.8       , 12.2       , 10.7       ,
       15.2       , 15.8       ,  3.6       , 12.9       , 13.8       ,
       12.2       , 15.1       , 13.        , 12.2       , 13.19482759,
        3.7       ,  3.5       ,  3.7       ,  3.7       ,  3.4       ,
       12.1       ,  3.9       ,  3.2       ,  4.        , 10.7       ,
       14.8       , 14.8       , 10.4       , 15.        , 13.3       ,
        3.7       ,  3.7       ,  3.7       ,  3.2       , 17.8       ,
       19.9       , 11.8       ,  3.6       , 13.19482759, 14.6       ,
        3.7       ,  4.3       ,  5.2       , 11.2       , 20.1       ,
        3.2       ,  3.3       ,  5.2       ,  4.1       , 12.        ,
       35.        ,  3.2       , 19.9       , 13.        ,  3.5       ,
        3.5       ,  4.5       ,  3.8       ,  9.5       ,  3.5       ,
        4.3       ,  3.6       , 13.3       ,  7.7       ,  4.1       ,
        5.2       ,  4.3       ,  3.2       ])

In [17]:
y_test

346      6.4
2335     4.6
1038    13.6
1051    19.8
748     13.2
        ...
2385    14.2
1360     4.6
1416     3.8
5        3.2
586      4.0
Name: MFR, Length: 513, dtype: float64